*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

button.btn.btn-primary
{
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    gap: 10px;
}

#cute-cat {
    max-width: 100%;
    height: 300px;
    border-radius: 10%;
}

